# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

config SHIELD_CENTRAL_DONGLE
    def_bool $(shields_list_contains,central_dongle)

config SHIELD_SWOOP_LEFT
    def_bool $(shields_list_contains,swoop_left)

config SHIELD_SWOOP_RIGHT
    def_bool $(shields_list_contains,swoop_right)
